# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TweetDeck/bin/x86/Release/Cookies
TweetDeck/bin/x86/Release/Cookies-journal
TweetDeck/bin/x86/Release/data_0
TweetDeck/bin/x86/Release/data_1
TweetDeck/bin/x86/Release/data_2
TweetDeck/bin/x86/Release/data_3
TweetDeck/bin/x86/Release/ChromeDWriteFontCache
TweetDeck/bin/x86/Release/debug.log
*.localstorage
*.localstorage-journal
TweetDeck/bin/x86/Release/f_00001b
TweetDeck/bin/x86/Release/GPUCache/data_1
TweetDeck/bin/x86/Release/chromeData/ChromeDWriteFontCache
